/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Orbit&display=swap');

body {
  font-family: 'Orbit', sans-serif;
  letter-spacing: -2;
  text-align: justify;
}
/* 상단 네비게이션바 */
.navigationbar {
  background-color: #0d3b66;
  height: 5em;
}
/* 상단 네비게이션바_로고 */
.logoimg {
  width: 9em;
  height: 4.5em;
  position: relative;
  top: 1.7em;
  margin-left: 1em;
}

/* 인풋, 버튼 위치지정용 */
.searchbar {
  position: relative;
  top: -1.6em;
}

/* 네비게이션바 고정했는데 뒤에 공간이 남아서 만든 거 */
.top_bar {
  height: 2em;
  background-color: #0d3b66;
  color: #f4d35e;
}

/* 검색 입력창 */
input[type='text'] {
  background-color: rgb(233, 233, 233);
  width: 60%;
  height: 50%;
  font-size: 1.2em;
  border: 0;
  outline: none;
  border-radius: 15px;
}
/* 검색하고 있을때 아웃라인 */
input[type='text']:focus {
  outline-color: #ee964b;
  outline-style: solid;
  box-shadow: 0 0 0 2px #ee964b;
  transition: 0.5s;
}

/* 검색버튼 */
.searchbtn {
  border: 0;
  outline: none;
  border-radius: 15px;
  width: 10%;
  height: 51%;
  font-size: 1.3em;
  background-color: #f4d35e;
  margin-left: 1em;
  letter-spacing: 4;
  color: #0d3b66;
}
/* 검색버튼 호버 컬러변경, 마우스 모양 바꾸기*/
.searchbtn:hover {
  background-color: #f95738;
  transition: 0.5s;
  cursor: pointer;
}
/* 검색버튼 누르면 컬러변경 */
.searchbtn:active {
  background-color: #ee964b;
}

/* 네비게이션바 상단 위치고정 */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
}

/* 카드 */
.card {
  background-color: #ddbea9;
  width: 18em;
  border-radius: 15px;
  margin: 1em;
  padding: 0.2em;
  padding-bottom: 1em;
}
.card-img-top {
  width: 16em;
  overflow: auto;
  margin-left: 1em;
  margin-top: 1em;
  border-radius: 15px;
}
.card-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  margin: 0.2em;
}
.stars {
  font-size: 1.2em;
  margin: 0.2em;
  text-align: center;
}
.starscolor {
  color: #f95738;
  font-size: 1.2em;
  position: relative;
  bottom: -0.08em;
}
.overview {
  font-size: 0.9em;
  margin: 0.2em 0.5em 0.2em 1em;
  height: 3em;
  overflow-y: scroll;
  padding-right: 0.5em;
}

/* 카드 속 스크롤바 꾸미기 */
.overview::-webkit-scrollbar {
  background-color: rgb(255, 255, 255, 0.1);
  width: 5px;
}

.overview::-webkit-scrollbar-thumb {
  background-color: rgb(255, 232, 214, 0.5);
  border-radius: 10px;
}
